.appointment-booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color:#9d4858;
    width: 60vw;
    border-radius: 15px;
}
.clinic-info{
    background-color: rgb(228, 228, 228);
    padding: 3%;
}
.doctags{
    background-color: #0fc7e3;
    width: fit-content;
    padding: 3px;
    font-weight: bold;
}
#datebtn{
    background-color: #1270db;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 5px;
    font-weight: 500;
}
#timebtn{
    background-color: #9f9fed;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 10px;
    width: 6vw;
    font-weight: 500;
    padding: 1px 3px;
}
.dates{
    display: flex;
    flex-direction: row;
}
.date-picker{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.heads{
    color: rgb(245, 244, 241);
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 1%;
}
.time-slot-picker{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 3%;
}
.slots{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
.bookbtn{
    width: 12vw;
    border-radius: 5px;
    font-weight: 500;
    margin-bottom: 10%;
    color: #090909;
    background-color: rgb(25, 127, 13);

}
#datebtn:hover  {
    background-color: #100b8d;
}
#timebtn:hover{
    background-color: #9c47d9;
}
.bookbtn:hover{
    background-color: rgb(20, 199, 29);
    color: rgb(4, 0, 0);
}